h1{
    font-family: montserrat;
    text-align: center;
    margin: auto;
    color: lightcoral;
    font-weight: bold;
    width: 600px;
    text-align: center;
  }
  
  p{
      font-family: montserrat;
      text-align: center;
      font-size: medium;
      margin: auto;
      color: lightcoral;
      width: 500px;
      text-align: center;
  }
  
  body{
      background-color: gainsboro;
  }
  
  
  .links{
    font-family: montserrat;
      text-align: center;
      font-size: medium;
      margin: auto;
      color: white;
      width: 500px;
      text-align: left
    
  }